.bottombar {
    background-color: $white;
    border-bottom: 2px solid $fadedGrey;
    width: 100%;

    &__content {
        display: flex;
        gap: 20px;
        width: stretch;

        @include breakpoint-down(small) {
            flex-direction: column;
            gap: 10px;
        }
    }

    &__links {
        width: 100%;
        gap: 10px;

        > a {
            transition: color 300ms ease-in-out;

            &:hover, &:focus {
                color: $forestGreen
            }

            &.active {
                color: $forestGreen;
            }
        }
    }
}